---
import "@fontsource-variable/inter";
import SponsorshipSection from "~/components/sponsorship-section.astro";
import HackmeetingSection from "~/components/hackmeeting-section.astro";
import MemoriesSection from "~/components/memories-section.astro";
import SponsorsSection from "~/components/sponsors-section.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import AnnouncementsSection from "~/components/announcements.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "👾 ¡Cochabamba es la gran sede del evento de Hackers más grande de Bolivia! 🇧🇴 Hackmeeting 2023";
const title = 'Hackmeeting Bolivia 2023'
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="hm icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://0x7e7.hackmeeting.org.bo/" />
    <meta name="generator" content={generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
    <!-- Google search console -->
    <meta name="google-site-verification" content="P6KdtWgmaD_P2qcN1eY-2ZIlpVjjyDwejxvZ6SKJRr0" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TVD178PXW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9TVD178PXW');
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-5 py-32">
      <Intro />
      <HackmeetingSection />
      <AnnouncementsSection />
      <!-- <SponsorshipSection /> -->
      <SponsorsSection />
      <MemoriesSection />
    </div>
    <Footer />
  </body>
</html>
