---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import "~/styles/index.css";
import ScheduleContainer from '~/components/schedule/schedule-container.vue'
import ScheduleVillageContainer from '~/components/schedule/schedule-village-container.vue'
import { speakersRoomA, speakersRoomB } from '../../data/speakers' 
import { workshoppers } from '../../data/workshoppers' 
import { villages } from '../../data/villages' 
import ScheduleTitle from '~/components/schedule/schedule-title.vue'
import mapImage from '~/assets/items/map.png'

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "👾 Cronograma del evento 🇧🇴 Hackmeeting 2023";
const title = 'HM2023 - Cronograma'
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="hm icon" href="/favicon.ico" type="image/x-icon">
    <meta name="generator" content={generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <h2
      class="font-strong gradient-text text-center font-extrabold tracking-tight md:text-6xl text-5xl mt-10"
    >
      Nuestro Cronograma
    </h2>
    <div class="flex justify-center">
      <a href="/" class="btn-hm w-60 mt-10 text-sm">Volver al Sitio Principal</a>
    </div>
    <div class="flex flex-col items-center mb-20">
      <div class="max-w-2xl mx-3">
        <div class="flex justify-center mt-16 mb-24">
          <div class="w-full md:w-2/3 border-primary border-2 p-5 px-10 relative animate-opacity-announcement">
            <img src={ mapImage.src } alt="martadero maps">
            <div class="w-full text-center mt-5">Mapa Oficial HM23</div>
            <div class="w-full text-center text-xxs opacity-85">🔍 Busca los mensajes ocultos</div>
          </div>
        </div>
        <div>
          <ScheduleTitle title="low-level-room"/>
          <ScheduleContainer speakers={ speakersRoomA } headers={ ['Speaker', 'Charla', 'Hora']} client:only/>
        </div>

        <!--         <div>
          <ScheduleTitle title="neo-city-room"/>
          <ScheduleContainer speakers={ speakersRoomB } headers={ ['Speaker', 'Charla', 'Hora']} client:only/>
        </div>

        <div>
          <ScheduleTitle title="the-villages" subtitle="Exposiciones / Talleres / Actividades de 10:00 a 14:00 ⏲️"/>
          <ScheduleVillageContainer villages={ villages } headers={ ['Vilage', 'Tribus', 'Hora']} client:only/>
        </div> -->
        <div>
          <ScheduleTitle title="training-center" subtitle="Trae tu computadora 💻" hoverTitle="Sala de Workshops"/>
          <ScheduleContainer speakers={ workshoppers } headers={ ['Tallerista', 'Workshop', 'Hora']} client:only/>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
