---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";
import InformationSection from "./information-section.vue";
import logoMartadero from "~/assets/sponsor/martadero_black.png";
import logoHacklab from "~/assets/images/hacklab.png";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/HM-Bolivia",
    description: "Hackmeeting en GitHub",
    icon: "fa-brands:github",
  },
  {
    url: "https://www.facebook.com/hackmeetingbolivia",
    description: "Hackmeeting en Facebook",
    icon: "fa-brands:facebook",
  },
  {
    url: "https://www.instagram.com/hackmeetingbolivia/",
    description: "Hackmeeting en Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://twitter.com/HackmeetingB0",
    description: "Hackmeeting en Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer>
  <InformationSection />
  <div class="h-60">
    <div style="background-color: #00090e;" class="h-full w-full flex items-center justify-center flex-col">
    <div class="text-xs p-4 m-3">
      <div class="flex flex-row items-center gap-1">
        <div>
          Organizan: 
        </div>
        <a class="h-20 active:scale-105 hover:cursor-pointer" href="https://martadero.org/" target="_blank" rel="noopener">
          <img src={logoMartadero.src} alt="" class="h-full">
        </a>
        <a class="h-10 active:scale-105 hover:cursor-pointer" href="https://hacklab.brickheads.space" target="_blank" rel="noopener">
          <img src={logoHacklab.src} alt="" class="h-full">
        </a>
      </div>
    </div>
      <ul class="grid grid-cols-4 gap-4">
        {
          links.map((link) => (
            <li>
              <a
                class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-current p-2"
                href={link.url}
                title={link.description}
              >
                <span class="sr-only">{link.description}</span>
                <Icon class="h-full" name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
      <div class="mt-8 md:mt-5 text-xs">
        Sitio hecho con ❤️ por <a href="https://www.facebook.com/HackLabBrickHeads" target="_blank" rel="noopener" class="text-primary">HackLab Brickheads</a>
      </div>
    </div>
  </div>
</footer>
