---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import astronautImage from "~/assets/astronaut.png";
import monitorImage from '~/assets/monitor.png'
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import Gof from "./game/gof.astro";
import GofVue from "./game/gof.vue";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <!-- <Starfield /> -->
  <!-- <GitHubCorner /> -->
  <!-- HERE: game of life  -->
  <Gof/>
  <div class="relative h-full">
      <!-- <Icon name="logomark" class="h-24 text-white md:h-32" /> -->
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-full flex flex-row items-center gap-5">
        <div
          class="gradient-text text-center font-extrabold tracking-tighter text-8xl w-full"
        >
          HACKMEETING
          <br /> 0x7E7
        </div>
        <!-- <div class="flex justify-center w-full">
          <Picture
            class="opacity-90"
            src={monitorImage}
            widths={widths}
            sizes={sizes}
            loading="eager"
            alt="A floating astronaut in a space suit"
            width={300}
          />
        </div> -->
      </div> 
    </div>
    <!-- <div
      class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
    >
      HACKMEETING
      <br /> 0x7E7
    </div>
    <Picture
      class="h-full w-full object-cover"
      src={monitorImage}
      widths={widths}
      sizes={sizes}
      loading="eager"
      alt="A floating astronaut in a space suit"
    /> -->
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
